@font-face
    font-family: 'main'
    src: url(../fonts/Montserrat.ttf)

@font-face
    font-family: 'display'
    src: url(../fonts/Xolonium-Regular.otf)


/* Переменные темы */
:root 
  --background-color: #272727
  --text-color: #9166DD
  --accent-color: #2718A2



[data-theme='light'] 
  --background-color: #d3d3d3
  --text-color: #70957F
  --accent-color: #FFB533