@use 'variables'

.editor
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    // width: 100vw
    // max-width: 100vw
    height: fit-content
    .container
        // display: flex
        // flex-direction: column
        // justify-content: flex-start
        // align-items: center
        padding: 50px 
        // width: 100%
        // height: 100%
        .dnd
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 80vw
            height: 150px
            padding: 20px
            border: dashed 2px #6d6d6d
            