@use 'variables'
@use 'imageEditor'
// @use 'downloadButton'

// @use 'imageUploader'
// @use 'imageUploader'
// @use 'imageUploader'
// @use 'imageUploader'
// @use 'imageUploader'

*
  margin: 0
  padding: 0
  scroll-behavior: smooth
  // background-color: var(--background-color)

.App
  min-height: 100vh
  background-color: var(--background-color)

.canvas-container
  canvas
    max-width: 20vw